.a{
    text-decoration: none !important;
}
.profile{
    display:flex;
    height:15vh;
    margin-bottom: 1rem;
    padding:0rem 0;
}
.profile .profile-image{
    width:7rem;
    height:7rem;
    justify-content: flex-start;
    margin-right:1rem;
}
.profile .introduce{
    padding:0;
    margin-top:0;
    line-height:1.2rem;
}
.profile h2{
    padding-top:0.5rem;
    margin:0;
}
.category{
    background-color: #1c1d23;
    margin:3rem 0 3rem 0;
    padding:0.3rem 0;
    border:5px solid #232429;
    border-radius: 7px;
    overflow:hidden;
}
.category ul{
    padding:0;
    display: flex;
    overflow-x:scroll;
    justify-content: flex-start;
    list-style:none;
}
.category li{
    background-color: #3e3f4a;
    border-radius: 7px;
    padding: 0.3rem 1rem;
    margin-right:0rem;
    margin-left:1rem;
}
.category li:hover{
    background-color:grey;
    transition:background-color .5s;
}
.post-list {
    max-width: 500px;
    margin:auto;
}
.post-list .post{
    border-radius: 7px;
    height:6rem;
    background-color: #3e3f4a;
    padding:0.2rem 2rem 1.2rem 2rem;
    margin-bottom:1.5rem;
}
.post-list .post:hover{
    background-color:grey;
    transition:background-color .5s;
}
.post-list .post a.noUnderline{
    text-decoration: none !important;
    text-underline-offset: none;
}